<!DOCTYPE html>
<html lang="pt">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    
    <title>Menu Principal || Admin</title>
	
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
	    <!--fontawesome-->
       
		<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
		 
     <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
  	<div class="container">
  	<div class="row">
  		<div class="col-12">
  			<form>
  				<div class="form-row">
  					<div class="form-group col-md-6">
  						<label for="nome" class="col-form-label">Nome:</label>
  						<input type="text" id="nome" name="nome" class="form-control" placeholder="Digite o Nome ">
  					</div>
  				</div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="apelido" class="col-form-label">Apelido:</label>
              <input type="text" id="apelido" name="apelido" class="form-control" placeholder="Digite o Apelido">
            </div>
          </div>
  				<div class="form-row">
            <label for="email" class="col-form-label">Email:</label>
           <div class="form-group col-md-12">
  					
  					<input type="email" class="form-group col-md-6"  name="e-mail" placeholder="marta@gmail.com">
  				</div>
  			</div>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="nome" class="col-form-label">Celular:</label>
              <input type="tel" name="usertel"  class="form-control">
            </div>
          </div>
  			
        
  				<button class="btn btn-primary">Cadastrar</button>
  				<button class="btn btn-primary">Limpar</button>
  			</form>
  		</div>
  	</div>
  	</div>
<hr>

 <div class="card mb-3">
 	<div class="card-header">
 		<i class="fa fa-table"></i> Tabela de Clientes
 	</div>
 	<div class="card-body">
 		<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
 			<thead>
 				<tr>
 					<th>Nome Funcionario</th>
          <th>Apelido</th>
 					<th>Email</th>
 					<th>Celular</th>
 					
 					<th>Categoria</th>
          <th>Sector</th>
          <th>Actividade</th>
 					<th>Acoes</th>
 				</tr>
 				<tfoot>
 					<tbody>
 						<tr>
 							<td>
 								Jorge
 							</td>
              <td>Tamele</td>
 							<td>tamele@gmail.com</td>
 							<td>84536464</td>
 							<td><a href="categoria.html"><i class="fa fa-plus"></i></a></td>
 							<td><a href="sector.html"><i class="fa fa-plus"></i></a></td>
              <td><a href="actividade.html"><i class="fa fa-plus"></i></a></td>
              <td>
                <a href=""><i class="fa fa-pencil"></i></a>
                <a href=""><i class="fa fa-trash"></i></a>
              </td>
 								
 								
 							
 						</tr>
 					</tbody>
 				</tfoot>
 			</thead>
 		</table>
 		
 	</div>
 </div>
 









    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js" ></script>
    <script src="js/bootstrap.min.js" ></script>
  
  <script src="js/bootstrap.js" ></script>

</body>
</html>