<!DOCTYPE html>
<html lang="pt">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    
    <title>Menu Principal || Admin</title>
	
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
	    <!--fontawesome-->
       
		<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
		 
     <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
  	<div class="container">
  	<div class="row">
  		<div class="col-12">
  			<form>
  				<div class="form-row">
            <div class="form-group col-md-6">
              <label for="date" class="col-form-label">Data Entrega:</label>
              <input type="date" id="data_entrega" name="data_entrega" class="form-control">
            </div>
          </div>
        
  				<button class="btn btn-primary">Cadastrar</button>
  				<button class="btn btn-primary">Limpar</button>
  			</form>
  		</div>
  	</div>
  	</div>
<hr>

 <div class="card mb-3">
 	<div class="card-header">
 		<i class="fa fa-table"></i> Tabela de Tarefas
 	</div>
 	<div class="card-body">
 		<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
 			<thead>
 				<tr>
 					<th>Data Entrega </th>
          <th>Funcionario</th>
          <th>Actividade</th>
 					<th>Acoes</th>
 				</tr>
 				<tfoot>
 					<tbody>
 						<tr>
 							<td>
 								12/12/2021
 							</td>
              <td><a href="funcionario.html"><i class="fa fa-plus"></i></a></td>
              <td><a href="actividae.html"><i class="fa fa-plus"></i></a></td>
 							
 							<td>
 								<a href=""><i class="fa fa-pencil"></i></a>
 								<a href=""><i class="fa fa-trash"></i></a>
 								
 							</td>
 						</tr>
 					</tbody>
 				</tfoot>
 			</thead>
 		</table>
 		
 	</div>
 </div>
 









    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js" ></script>
    <script src="js/bootstrap.min.js" ></script>
  
  <script src="js/bootstrap.js" ></script>

</body>
</html>